<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.X">
        <activity
            android:name=".InboxPage.ChatActivity"
            android:exported="false" />
        <activity
            android:name=".Login.LoginPage1"
            android:exported="false"
            android:label="LoginPage"
            android:theme="@style/Theme.X" />
        <activity
            android:name=".Login.LoginPage"
            android:exported="false"
            android:label="LoginPage"
            android:theme="@style/Theme.X" />
        <activity
            android:name=".Login.RegisterPage1"
            android:exported="false"
            android:label="LoginPage"
            android:theme="@style/Theme.X" />
        <activity
            android:name=".InboxPage.AddChatActivity.AddChatActivity"
            android:exported="false"
            android:label="LoginPage"
            android:theme="@style/Theme.X" />
        <activity android:name=".ProfilePage.ProfilePage"
            android:exported="false"
            android:label="ProfilePage"
            android:theme="@style/Theme.X" />
        <activity
            android:name=".Login.RegisterPage2"
            android:exported="false"
            android:label="LoginPage"
            android:theme="@style/Theme.X" />
        <activity
            android:name=".Login.RegisterPage3"
            android:exported="false"
            android:label="LoginPage"
            android:theme="@style/Theme.X" />
        <activity
            android:name=".Login.RegisterPage4"
            android:exported="false"
            android:label="LoginPage"
            android:theme="@style/Theme.X" />
        <activity
            android:name=".NotificationPage.NotificationSettings"
            android:exported="false"
            android:label="@string/title_activity_notification_settings"
            android:theme="@style/CustomPreferenceTheme" />
        <activity
            android:name=".SearchPage.ExploreSettings"
            android:exported="false"
            android:label="@string/title_activity_explore_settings"
            android:theme="@style/CustomPreferenceTheme" />
        <activity
            android:name=".HomeFragment"
            android:exported="false"
            android:label="@string/title_activity_home"
            android:theme="@style/Base.Theme.X" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>